body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#name {
    text-align: center;
    font-family: 'Bellota', cursive;
    margin-top: 0;
    background-color:mistyrose;

    

}
hr {
    width: 90%
}

ul {
  list-style: none; 
  display: flex;
  justify-content: space-evenly; 
  position: relative;

}
li {
   display: inline-block;
   font-family: 'Bellota', cursive;
}

.bottom-navigation{
margin: 40px
}

#main-photo {
    width: 100vw;
    height: 80vh;
    position: relative;
}

.top-navigation{
    text-decoration: none;
}
/* add media query*/
@media screen and {
    
}
a {
    text-decoration: none;
    color:black
    
}
a:hover {
    box-shadow: inset 200px 0 0 0 mistyrose;
text-decoration: none;
color: inherit;
}
a:focus{
    text-decoration: none;
    color:inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}
p{
font-family:  'Bellota', cursive;;
}
h2 {
    font-family:  'Bellota', cursive;
    background-color: mistyrose;
    width: 18%
}
#greeting {
    font-family: 'Bellota', cursive;
    background-color: mistyrose;
    text-align: center;
}

p::first-letter {
    font-size: 350%;

}
.fa-linkedin{
    background: #007bb5;  
  color: white; 
}
.fa:hover {  
    opacity: 0.9;  
}  
.fa-linkedin{
    
    color: white
}
.social-media{
    display: flex;
    justify-content: center;
}
#profile {
    border-radius: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px;
}
.image1 {
    display: inline-block;
    max-width: 150px;
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container > img{
    width: 50%;
  }
.carousel-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.carousel-images {
    width: 60%;
    background: mistyrose;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px black;
}
.carousel-images img {
    display: none;
    width: 100%;
    border-radius: 10px;
  }
  .carousel-images img:first-of-type {
    display: block;
}
.carousel-button {
  align-self: center;
  background: mistyrose;
  color: #888;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px black;
}
.carousel-button:hover {
    cursor: pointer;
    background: #fa8d8e;
    box-shadow: 1px 1px #f2cd99;
    color: white;
  }
  h4 {
    font-family: 'Bellota', cursive;
    text-align: center;
  }
  .container-photo {
    position: relative;
    text-align: center;
    color: mistyrose;
    font-size: 40px;
    font-family: 'Bellota', cursive;
  }
.main-photo-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
#firstName {
    color: black;
    
}
#email {
    display: flex;
    justify-content: end;
}
button {
    display: flex;
   
}
#submit {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;;
}
#message {
    display: flex;
    justify-content: center;
    margin: auto;
}
span {
    display: flex;
    justify-content: center;
    margin: auto;
}
#email {
    display: flex;
    justify-content: center;
    margin: auto;
}
#firstName {
    display: flex;
    justify-content: center;
    margin: auto;
    
}
#lastName {
    display: flex;
    justify-content: left;
    margin: auto;
}
.contact-container {
border: 5px dotted;
border-color: mistyrose;
padding: 30px;
width: 40%;
align-self: center;
margin: auto;
}

